/* body {
    margin: 0 auto;
    padding: 0;
}



.aligncenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100%;
    min-height: 79.5;
    padding: 20px 0;
    background-color: transparent;
}

.navbar img {
    max-width: 70px;
}

.navbar .logo{
float: left;
}

.menu{
    float: left;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    float: left;
  }
  


  .menu ul li {
    padding: 0 10px;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
  }

.menu ul li a{
    color: #000000;
    text-decoration: none;  
    font-family: "Poppins";
    font-weight: 600; 
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.2px;
    word-wrap: break-word;
}

.leftpart{
    width: 33%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
}

.rightpart{
    width: 67%;
    height: 100%;
    float: left;
    padding-left: 33%;}


.background .rightpart .img{
    background-image: url("../img/backimg.jpeg"); 
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

body {
	margin: 0 auto;
	padding: 0;
	font-family: open sans, sans-serif;
}

/* .mypadd {
	padding: 120px 0;
}

.myshadow {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */

.alcenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.spbtw {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.section {
	width: 100%;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

/* .section:nth-child(odd) {
	background: rgb(157, 118, 248);
  }
  
  .section:nth-child(even) {
	background: rgb(70, 27, 187);
  } */

/* NAV_BAR START */


.mybg-color {
	background-color: transparent !important;
}

.mynav-link {
	color: #000 !important;
	font-family: "Poppins";
	font-weight: 600;
}

/* .active {
	background-color: transparent !important;
	color: #f75023 !important;
  }
  .mynav-link:focus {
	color: #f75023 !important;
  }
  a:hover {
	color: #f75023 !important;
  } */
.myul {
	justify-content: end !important;
}

.navbutton {
	display: inline-block;
	background-color: transparent;
	border-color: transparent;
	color: #000;
}

/* .navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	 box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
		rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
} */

/* .navbar ul li a .first{
	position: absolute;
	transform: translateY(100%);
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
 .navbar ul li a .second{
	position: relative;
	display: block;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
} */

.nav-pills button {
	color: #fff;
	font-size: 18px;
	text-align: center;
	font-weight: 500;
	font-family: jost, sans-serif;
	border: 1px solid #f75023;
	border-radius: 50px;
	padding: 10.5px 35px 10.5px 35px;
	display: inline-block;
	background: transparent;
	width: 183px;
	height: 49px;
}


/* .button-57 {
	position: relative;
	overflow: hidden;
	border: 1px solid #18181a;
	color: #18181a;
	display: inline-block;
	font-size: 15px;
	line-height: 15px;
	padding: 8px 35px 8px 7px;
	text-decoration: none;
	cursor: pointer;
	background: #fff;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
  }
  
  .button-57 span:first-child {
	position: relative;
	transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
	z-index: 10;
  }
  
  .button-57 span:last-child {
	color: white;
	display: block;
	position: absolute;
	bottom: 0;
	transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
	z-index: 100;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translateY(225%) translateX(-50%);
	height: 14px;
	line-height: 15px;
  }
  
  .button-57:after {
	content: "";
	position: absolute;
	bottom: -50%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f75023;
	transform-origin: bottom center;
	transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
	transform: skewY(9.3deg) scaleY(0);
	z-index: 50;
  }
  
  .button-57:hover:after {
	transform-origin: bottom center;
	transform: skewY(9.3deg) scaleY(2);
  }
  
  .button-57:hover span:last-child {
	transform: translateX(-50%) translateY(-100%);
	opacity: 1;
	transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  } */

/* NAV_BAR END */

.waxon_tm_hero{
	width: 100%;
	height: 844px;
	clear: both;
	float: left;
	position: relative;
}
.waxon_tm_hero .background{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.waxon_tm_hero .background .leftpart{
	width: 33%;
	height: 100%;
	background-color: #000;
	position: absolute;
	top: 0px;
	left: 0px;
}
.waxon_tm_hero .background .rightpart{
	width: 100%;
	height: 100%;
	float: left;
	padding-left: 33%;
}
.waxon_tm_hero .background .rightpart .inner{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.waxon_tm_hero .background .rightpart .image{
	position: absolute;;
	top: -90px;
	bottom: -20px;
	left: -300px;
	right: -20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.waxon_tm_hero .background .myOverlay{
	position:absolute;
	top: 0px;
	bottom:0px;
	width: 100%;
	background-color:transparent;
	z-index: 2;
	left: 0%;
	transition: left .7s ease;
}
.waxon_tm_hero .background .overlay_image{
	position:absolute;
	top: 0px;
	bottom:0px;
	width: 100%;
	background-color: transparent;
	z-index: 1;}
